.introduce3-data-aos {
    display: flex;
}


    h1 {
       color: #fff;
    }

    @keyframes letter-in {
       0% {
          top: 1.2em;
          opacity: 0;
       }
       100% {
          top: 0em;
          opacity: 1;
       }
    }

    @keyframes letter-out {
       0% {
          opacity: 1;
       }
       100% {
          top: -1.2em;
          opacity: 0;
       }
    }

    div.changing-title {
       position: relative;
       width: 100%;
        transform: translate3d(0, 0, 0);
       -webkit-transform: translate3d(0, 0, 0);
       top: -34%;
       left: 38.5%;
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
       /*transform: scale(4.5);*/
       opacity: 1;
       transition: transform 4.5s ease, opacity 2s ease;
    }

/*    div.changing-title.animated {
        transform: scale(1.0);
        opacity: 1;
    }*/

    div.changing-title h1 {
       font-size: 4em;
       position: absolute;
       left: -28%;
       top: 225px;
       margin: 0;
       overflow: hidden;
       white-space: nowrap;
       text-align: center; /* 텍스트 가운데 정렬 */
    }

    div.changing-title h1 .letter {
       position: relative;
       top: 1.2em;
       display: inline;
    }

    div.changing-title h1 .letter.in {
       animation-name: letter-in;
       animation-duration: 0.3s;
       animation-timing-function: ease-out;
       animation-fill-mode: forwards;
       opacity: 0;
    }

    div.changing-title h1 .letter.out {
       top: 0em;
       animation-name: letter-out;
       animation-duration: 0.3s;
       animation-timing-function: ease-in;
       animation-fill-mode: forwards;
    }

    @media screen and (max-width: 1919px) {
        div.changing-title {
            left: 35.5%;
        }
        div.changing-title h1 {
            font-size: 3em;
            left: -27%;
            top: 182px;
        }
    }